/* The following are styles for a table. */

:root {
    /* --color-1: black; */
    --blue: #00205B;
    --white: #FFFFFF;
}

body {
    margin: 2rem;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
    border: solid;
}

th {
    background: var(--blue);
    color: var(--white);
}

.table__container {
    overflow: auto;
}

/* CSS COUNTERS START */
table {
    counter-reset: section;
}

td:nth-of-type(1)::before {
    counter-increment: section;
    content: counter(section);
}
/* CSS COUNTERS END */